/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1505px) {
	.map-wrap {
    	max-width: 835px;
    	height: 835px;
    	top: 412px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.hp-license__center-content {
		left: -45px;
	}
	.about-license__center-content {
		left: -45px;
	}
	.icon-become ul li {
		margin-left: 30px;
	}
	.become-documentation {
		margin-left: 0;
	}
	.link-web {
		padding-top: 15px;
	}
	.regulation-main-header {
		padding-bottom: 70px;
	}
	.denial-responsibility-content::before {
		height: 1000px;
	}
	.map-wrap {
		height: 100%;
		top: 480px;
	}
	.hp-we__advantages li {
		padding-right: 220px;
		margin-bottom: 50px;		
	}
	.hp-we__content {
		padding-top: 15px;
	}
	.hp-left-header__nav-list {
		margin-left: 50px;
	}
	.left-nav__list li a {
		margin-left: 0;
	}
	.hp-we__advantages {
		padding-left: 50%;
		margin-left: -150px;
	}
	.hp-we__advantages-eng li {
		margin-bottom: 70px;
	}
	.map-wrap {
		width: 540px;
		height: 540px;
		clip: none;
		top: 400px;
		right: 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.logo-top {
		padding-top: 65px;
	}
	.hp-license__center-content {
		left: 230px;
	}
	.ticker {
		padding-top: 55px;
	}
	.contact-top {
		text-align: left;
	}
	.left-nav.left-header-nav {
		display: none;
	}
	.footer-column-center {
		margin-left: 0;
	}
	.footer-column-right {
		padding-top: 45px;
	}
	.footer-column-right ul {
		padding: 0;
	}
	.license__content-icon img {
		margin-left: 30px;
	}
	.license__content-item {
		margin-left: 100px;
	}
	.about-license__center-content {
		display: none;
	}
	.about-mission {		
		min-height: 545px;
		background-size: 100%;
	}
	.mission-content li {
		padding-top: 55px;
		margin-bottom: 0;
	}
	.btn-footer {
		width: 100%;
	}
	.main-form__wrap {    
		padding-top: 20px;
		padding-left: 0;
	}	
	.main-form__wrap .input-group {
		width: 100%;
	}
	.main-form__wrap .input-group input {
		width: 100%;
	}
	.btn-main-form {
		width: 100%;
	}
	.become-item-1 {
		text-align: center;
		padding-left: 0;
		margin-bottom: 5px;
	}
	.become-item-2 {
		padding-top: 15px;
		margin-bottom: 25px;
	}
	.become-item-3 {
		padding-top: 15px;
		margin-bottom: 25px;
	}
	.regulation-link {
		margin-left: 0;
	}
	
	.general-header-wrap {
		display: none;
	}
	.window .header {
		display: block;
	}
	
	.hp {    
		min-height: 650px;
	}
	.btn-head {   
		margin-bottom: 80px;
	}
	.ticker-indicators-before.clearfix {
		display: block;
	}
	.col-md-8.col-md-pull-2.no-padding {
		padding: 0;
	}
	.footer-column-left {
		display: block;
		text-align: center;
	}
	.bottom-nav ul {
		text-align: left;
	}
	.footer-column-center-row {
		display: block;
		text-align: center;
	}
	.footer-column-right {
		display: block;
		text-align: center;
	}
	.vantages-content__item-2::before {
		display: none;
	}
	.services-vantages-content {
		padding-bottom: 15px;
	}
	.vantages-content__item-2 p {
		padding-top: 10px;
	} 
	.vantages-content__item-1 {
    	display: block;
    	text-align: center;
    	margin-bottom: 10px;
    	margin-left: 0;
	}
	.map-wrap {
		max-width: 992px;
		width: 100%;
		height: 390px;
		border-radius: 1px;
		top: 0;
		right: 0;
		position: relative;
	}
	.overlay-map {
		border-radius: 1px;
	}
	.news-reviews-content-wrap {
		padding-bottom: 25px;
	}
	
}

/* Small Devices, Tablets */


@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.vantages-content__item-2 p {
		margin-left: 10px;
	}
	.about-company-group {
		padding-top: 50px;
	}
	.our-principles-column img {
		left: 10px;
	}
	.mission-content ul {
		margin-left: 0;
	}
	.services-vantages-content {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	
	.vantages-content__item-2 {
		margin-left: 0;
		padding-top: 15px;
	}
	.mission-content li {
		padding-top: 45px;		
	}
	.documentation-link ul {
		margin-left: 35px;
		padding: 0;
	}
	
	.become-head, .become-item-1, .become-item-2, .become-item-3 {
		margin-left: 10px;
	}
	.regulation-head h2 {
		text-align: center;
	}
	.regulation-head h2::after {
		margin: 5px auto;
	}
	.regulation-content h3 {
		text-align: center;
	}
	.regulation-content p::after {
		margin: 15px auto 30px;
	}
	.categorize-customer-head h2 {
		text-align: center;
	}
	.categorize-customer-content h3 {
		text-align: center;
	}
	.categorize-customer-content h3::before {
		margin: 30px auto 20px;
	}	
	.view-customer li {
		display: block;
		text-align: center;		
	}
	.view-customer li p {
		display: block;
		margin-right: 0;
	}
	.view-customer {
    	padding-top: 45px;
	}
	.categorize-customer {
		margin-bottom: 45px;
	}
	.denial-responsibility-head h2 {
		text-align: center;
	}
    .news-reviews-content-wrap {
    	margin-left: 0;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 667px) {
	
}
@media only screen and (max-width : 585px) {
	
}
@media only screen and (max-width : 532px) {
	
}
@media only screen and (max-width : 500px) {
	
}

@media only screen and (max-width : 480px) {
	.icon-become ul li {
		margin-left: 135px;
	}
	.company-group-content::before {
		height: 590px;
	}
	.documentation-head h3 {
		margin-left: 15px;
	}
	.documentation-link ul {
		margin-left: 15px;
	}
	.denial-responsibility-content ul {
		padding: 0;
		margin-left: 20px;
	}
	.denial-responsibility-content::before {
		height: 1350px;
	}
	
	.hp-we__advantages li {
		padding-right: 0;
	}
	.mission-content li {
		margin-left: 0;
	}
	.mission-content li div {
		margin-left: 0;
	}
	

}
@media only screen and (max-width : 450px) {

}
@media only screen and (max-width : 400px) {
	
}
@media only screen and (max-width : 380px) {
	
}

@media only screen and (max-width : 360px) {
	.hp-license__center-content {
		left: 15px;
	}		
	.license__content-icon img {
		margin: auto;
	}
	.license__content-item {
		padding-top: 10px;
		margin-left: 20px;
	}
	.icon-become ul li {
		margin-left: 75px;
	}
	.vantages-content__item-2 p {
		margin-left: 10px;
	}
	.mission-content li {
		padding-top: 10px;
	}
	.company-group-content::before {
		height: 780px;
	}
	.hp-license__content p {
		margin-left: 15px;
	}
	.company-group-content ul {
		padding: 0;
		margin-left: 20px;
	}
	.denial-responsibility-content::before {
		height: 1800px;
	}
	
	
	
}
@media only screen and (max-width : 345px) {
		
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.head {
		padding-top: 80px;
	}
	h1 {
		font-size: 36px;
	}
	.btn-head {		
		margin-bottom: 40px;		
	}	
	
	.about-license__content h3 {
		margin-left: 0;
	}
	.license__content-item {
		margin-left: 3px;
	}
	.icon-become ul li {
		margin-left: 30px;
	}
	.trading-platforms-link li {
		margin-right: 65px;
	}
	.vantages-content__item-2 p {
		margin-left: 5px;
	}
	.company-group-content::before {
		height: 950px;
	}
	.company-group-content ul {
		margin-left: 10px;
	}
	.hp-we__advantages li img {
		left: 9px;
	}
	.hp-we__advantages li p {
		padding-left: 20px;
	}
	.denial-responsibility-content::before {
		height: 2000px;
	}
	
	.social-icons li {
		margin-right: 15px;
	}
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}